.home {
    font-family: $body-text;
    .top-section{
        padding-top: 100px;
        background: $black;
        img{width: 100%; max-width: 940px; margin: auto; display: block;}
    }
    .introduction-text{
        margin: 60px auto 0;
        color: #777;
        font-size: 20px;
        font-weight: 200;
    }
    .parallax-container{
        width: 100%;
        height: 710px;
        margin: 50px 0 0px;
        overflow: hidden;
        position: relative;

        .current-project-btn{
            color: $black;
            background: $orange;
            padding: 2px 10px;
            margin-top: 30px;
            width: 200px;
            font-size: 2em;
            display: inline-block;
            text-decoration: none;

            &:after{
                font-family: FontAwesome;
                content:"\f054";
                float: right;
            }

            &:hover{
                opacity: .7;
            }
        }
        .current-project-image,
        .current-project-description{
            color: #aaa;

            h2{
                margin-top: 0;
                text-align: left;
            }
        }
        .current-project-image{
            position: relative;
            top: -780px;

            img{
                padding: 0 30px;
                width: 100%;
            }
        }

        .current-project-description{
            position: relative;
            top: -770px;
            padding: 0 30px;

        }
        @media (min-width: 700px) {
            height: 810px;
            .current-project-image{top: -900px;}
            .current-project-description{top: -830px;}
        }
        @media (min-width: 992px) {
            height: 550px;

            .current-project-image,
            .current-project-description{
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 50%;
                float: left;

            }

            .current-project-description{
                right: 0;
            }
        }


    }

    .development{
      position: relative;
      min-height: 400px;
      h1{
        margin-top: 80px;
        position: relative;
        z-index: 1;
        font-family: $philo;
      }
      #cog-1{
        width: 240px;
        height: 240px;
        position: absolute;
        left: 330px;
        top: 30px;
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-1.svg')){
          background-color: #efefef;
          -webkit-mask-image: url('/assets/images/icons/cog-1.svg');
          mask-image: url('/assets/images/icons/cog-1.svg');
        }
      }
      #cog-2{
        width: 120px;
        height: 120px;
        position: absolute;;
        left: 540px;
        top: 170px;
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-2.svg')){
          background-color: #efefef;
          -webkit-mask-image: url('/assets/images/icons/cog-2.svg');
          mask-image: url('/assets/images/icons/cog-2.svg');
        }
      }
      #cog-3{
        width: 192px;
        height: 192px;
        position: absolute;
        left: 595px;
        top: 25px;
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-3.svg')){
          background-color: #efefef;
          -webkit-mask-image: url('/assets/images/icons/cog-3.svg');
          mask-image: url('/assets/images/icons/cog-3.svg');
        }
      }
      #cog-4{
        width: 300px;
        height: 300px;
        position: absolute;
        left: 765px;
        top: -70px;
        transform: rotate("1deg");
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-5.svg')){
          background-color: #efefef;
          -webkit-mask-image: url('/assets/images/icons/cog-5.svg');
          mask-image: url('/assets/images/icons/cog-5.svg');
        }
      }
      #cog-5{
        width: 120px;
        height: 120px;
        position: absolute;
        left: 955px;
        top: 190px;
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-2.svg')){
          background-color: #efefef;
          -webkit-mask-image: url('/assets/images/icons/cog-2.svg');
          mask-image: url('/assets/images/icons/cog-2.svg');
        }
      }
      #cog-6{
        width: 360px;
        height: 360px;
        position: absolute;
        left: 1061px;
        top: 31px;
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-6.svg')){
          background-color: #efefef;
          -webkit-mask-image: url('/assets/images/icons/cog-6.svg');
          mask-image: url('/assets/images/icons/cog-5.svg');
        }
      }
      #cog-7{
        width: 192px;
        height: 196px;
        position: absolute;
        left: 168px;
        top: -52px;
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-7.svg')){
          background-color: #efefef;
          -webkit-mask-image: url('/assets/images/icons/cog-7.svg');
          mask-image: url('/assets/images/icons/cog-7.svg');
        }
      }
      #cog-8{
        width: 120px;
        height: 120px;
        position: absolute;;
        left: 100px;
        top: 95px;
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-2.svg')){
          background-color: #efefef;
          -webkit-mask-image: url('/assets/images/icons/cog-2.svg');
          mask-image: url('/assets/images/icons/cog-2.svg');
        }
      }
      #cog-9{
        width: 300px;
        height: 300px;
        position: absolute;;
        left: -190px;
        top: 30px;
        @supports (-webkit-mask-image: url('/assets/images/icons/cog-6.svg')){
          background-color: #efefef;;
          -webkit-mask-image: url('/assets/images/icons/cog-6.svg');
          mask-image: url('/assets/images/icons/cog-6.svg');
        }
      }
      .worm-gear{
        width: 90px;
        left: 1050px;
        bottom: 870px;
        position: absolute;
        padding-left: 25px;
        overflow: hidden;
        .gear-middle{
          background: black;
          width: 40px;
          height: 210px;
        }
        .gear-teeth{
          background: url('/assets/images/icons/worm-gear-teeth.svg');
          width: 140px;
          height: 190px;
          position: absolute;
          left: -28px;
          bottom: 10px;
          background-position-y: 0;
        }
      }

    }

    .skills{
        ul{
            padding: 0;
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            li{
                width: 100%;
                padding: 20px;
                text-align: center;
                height: 150px;
                position: relative;
                a{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width:200px;
                    display: inline-block;
                    img{
                        max-width: 100%;
                        max-height: 80px;
                    }
                }
                @media (min-width: 530px) {
                    width: 50%;
                }
                @media (min-width: 992px) {
                    width: 33.33%;
                }
            }
        }
    }
}
