{{#content-editor model=model savePost="savePost"}}
  <div data-editable data-name="title">
    <h1>{{model.name}}</h1>
  </div>
  <div data-editable data-name="main-content">
    {{{model.desc}}}
  </div>
{{/content-editor}}
