.icon-field{
    position: relative;
    padding-bottom: 10px;
    .glyphicon{position: absolute; top: 7px; left: 7px; font-size: 20px; }
    input{padding-left: 35px;}
    textarea{padding-left: 35px; resize: none;}
}

.contact-form{
    padding: 0 30px 70px;
    max-width: 400px; 
    margin: auto;
    .btn{
        width: 100px;
        background: $black; 
        color: white;
        float: right;
        &:hover{background: $orange;}
    }
}